 <!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <h1>
    Files
  </h1>
  <ul>
    {{#files}}
    <li><a href="./diffs_{{index}}.html">{{filepath}}</a></li>
    {{/files}}
  </ul>
</body>

</html>
