<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" href="./styles.css">

</head>

<body>

<script src="./scripts.js"></script>

<h1>{{title}}</h1>

<h2>{{filepath}}</h2>

<div class="row">
  <div class="column" id="colLeft">
  {{#diffs}}
    <hr />
    <p onclick="codeClicked(this)" _code_id="{{ repos.0 }}">{{#repos}}<strong>{{.}}</strong> {{/repos}}</p>
  {{/diffs}}
  </div>

  <div class="column" id="colRight">
  {{#diffs}}
    <div class="fileCode" id="{{ repos.0 }}" hidden><pre>{{{content}}}</pre></div>
  {{/diffs}}
  </div>
</div>

</body>

</html>
